<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="3">
    <test verbose="2" preserve-order="true" name="C:/Users/chaut/jan5">
        <classes>
            <class name="pamgiamBeaconPage.PangiamBeaconPageTest">
                <methods>
                    <include name="pangiamFunction"/>
                </methods>
            </class>
            <class name="pamgiamHomePage.PangiamHomePageTest">
                <methods>
                    <include name="pangiamFunction"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>